<style>
    body{
        background: rgb(14, 14, 14);
        color:white;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    p{
        font-size: large;
    }
    strong{
        font-size: x-large;
    }


</style>
