<style>
    body{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding:8px;
    }
    p{
        font-size: large;

    }
    strong{
        font-size: x-large;

    }


</style>