<style>
    body{
        padding: 6px;
        background: rgb(38, 57, 107);
        color:white;
        font-family: "Times New Roman", Times, serif;
    }
    p{
        font-size: large;
    }
    strong{
        font-size: x-large;
    }


</style>
